@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

:root {
    --red: #B92B27;
    --background-theme: #F1F2F2;
    --letter: #282829;
    --grey-dark: #636466;
    --grey-light: #DEE0E1;
    --grey-medium: #A3A4A5;
    --grey-extra-light: #ECEDED;
    --blue: #1A5AFF;
    --blue-dark: #1c55e6;
}

html {
    font-family: Roboto, sans-serif;
} 


li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}